node_modules/
dist/
out/
.DS_Store
tmp/
.env
.env.local
packages/*/dist
packages/*/node_modules
packages/railgun/demo/cache/
packages/railgun/tests/cache/*
packages/pq-account/foundry.lock
.claude
.direnv
.vscode
target/venv/
crates/stim_qec/venv/
crates/stim_qec/sinter_decoder_cpp
crates/stim_qec/sinter_decoder_sv
crates/stim_qec/sinter_decoder_sv_exec
target
terraform-arkhe-infra/.terraform
venv/
bin/
bin/
